@import "tailwindcss";

:root {
	--background: #210635;
	--foreground: #ffffff;

	--font-body: var(--font-inter);
	--font-title: var(--font-poppins);
}
html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-body);
}

h1,
h2,
h3 {
	font-family: var(--font-title);
}

@keyframes float {
	0% {
		transform: translateY(0px) rotate(-1deg);
	}
	50% {
		transform: translateY(-14px) rotate(1deg);
	}
	100% {
		transform: translateY(0px) rotate(-1deg);
	}
}
.animate-float {
	animation: float 4s ease-in-out infinite;
}
